* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    background-image: url(./images/wallpaper-1.jpg);
    background-size: 100%;
    box-sizing: border-box;
    /* height: 100%; */
    font-family: 'Adamina', serif;
    color: #cdcfd1;
}

.About,
.Home,
.Contact,
.Work,
.Resume {
    min-height: 100%;
}

.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    /* margin-top: -50px; */
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

.Header .logo{
    font-family: 'Allura', cursive;
    font-size: 100px;
    margin: 10px;
    margin-left: 50px;
    text-decoration: none;
    color: #cdcfd1;
}

.navBtn,
.contactBtn {
    font-size: 18px;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: #cdcfd1;
    transition: ease-in-out 0.8s;
}

.navBtn:hover{
    text-shadow: 4px 4px 2px #b35b50;
}

.Home,
.About,
.ThankYou {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Home a {
    font-size: 35px;
    color: #cdcfd1;
    margin-top: 80px;
    background: #b35b50;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    transition: ease-in-out 0.8s;
}

.Home a:hover,
.contactBtn:hover {
    background-color: #2f3a3e;
}

.contactBtn {
    background: #b35b50;
    border-radius: 5px;
    transition: ease-in-out 0.8s;
}

.Home img {
    margin-right: 50px;
    width: 450px;
    height: 450px;
    /* box-shadow: 15px -15px 10px #b35c508a; */
    border: 12px solid rgb(233, 233, 233);
    border-bottom: 43px solid rgb(233, 233, 233);
}

.About img {
    margin-right: 50px;
    height: auto;
    width: 25vw;
    /* box-shadow: 15px -15px 10px #b35c508a; */
    border: 12px solid rgb(233, 233, 233);
    border-bottom: 43px solid rgb(233, 233, 233);
}

.Contact .form,
textarea {
    border: none;
    margin: 10px;
    width: 60vw;
    height: 28px;
    background: #eef2faa8;
    box-shadow: 2px 2px 20px #2C1647;
    border-radius: 10px;
}

.Contact textarea {
    height: 50px;
    width: 59vw;
}

.Contact .button {
    font-family: 'Adamina', serif;
    transition: ease-in-out 0.8s;
}

.Contact .button:hover {
    border: 1px solid #eef2faa8;
    background: transparent;
}

li {
    color: #cdcfd1;
}

.workBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.infoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.descBox {
    background: #b35b50;
    padding: 20px;
    position: absolute;
    bottom: -40px;
    margin-top: -40px;
    margin-left: -400px;
    width: 55vw;
}

.learnBtn {
    position: absolute;
    right: 90px;
    bottom: 0px;
}

.mockupImg{
    position: relative;
    filter: brightness(0.6);
}

.subtitle {
    position: absolute;
    bottom: 0;
    padding: 80px;
}

.ps {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.philosophy {
    margin: 40px;
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.statValues p {
    margin: 10px;
    margin-left: 100px;
}

.statTitle p {
    margin: 10px;
    color: #b35b50;
}

.subtitle h1 {
    font-size: 40px;
}

.subtitle p {
    font-size: 25px;
}

.workBox img {
    position: relative;
    width: 90vw;
    border: 12px solid rgb(233, 233, 233);
    border-bottom: 90px solid rgb(233, 233, 233);
}

@media screen and (max-width: 1050px) {
    .card-right img {
        width: 35vw;
    }
}

@media screen and (max-width: 860px) {
    .About,
    .Home{
        flex-direction: column-reverse;
    }

    body {
        background-size: 1000px;
    }
    
    .card-right img {
        width: 100%;
        height: auto;
    }

    .bio {
        font-size: 15px;
    }
}

@media screen and (max-width: 680px) {
    .Header {
        flex-direction: column;
    }

    .Nav {
        margin: 10px;
    }
}